<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" th:href="@{/img/logo/logo-shop.png}" />

  <title th:text="#{pet.html.title.name}"></title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
  <section id="header">
    <a href="#">
      <img th:src="@{/img/main_logo.png}" alt="" class="logo" />
    </a>

    <div>
      <ul id="navbar">
        <li><a th:href="@{/home}" th:text="#{pet.html.header.navbar.home}"></a></li>
        <li><a th:href="@{/search}" th:text="#{pet.html.header.navbar.search}"></a></li>
        <li><a th:href="@{/cart}" th:text="#{pet.html.header.navbar.cart}"></a></li>
        <li><a class="active" th:href="@{/about}" th:text="#{pet.html.header.navbar.about}"></a></li>
        <li><a th:href="@{/userInfo}" th:text="#{pet.html.header.navbar.userInfo}"></a>
        <li><a th:href="@{/history}" th:text="#{pet.html.header.navbar.history}"></a>
        <li><a href="javascript: document.logoutForm.submit()" th:text="#{pet.html.header.navbar.logout}"></a></li>
      </ul>
    </div>
    <div id="mobile">
      <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
      <i id="bar" class="fas fa-outdent"></i>
    </div>
    <!--    logout-->
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
      <input type="submit" value="Logout" />
    </form>
  </section>

  <section id="page-header" class="about-header">
    <h2 th:text="#{pet.html.about.title}"></h2>
    <p th:text="#{pet.html.about.title-description}" style="font-weight: 600; font-size: 18px;"></p>
  </section>

  <section id="about-head" class="section-p1">
    <img th:src="@{/img/about.png}" alt="" />
    <div>
      <br />
      <h2 th:text="#{pet.html.about.aboutUs}"></h2>
      <p th:text="#{pet.html.about.aboutUs.details}" style="font-weight: 500;">
      </p>
      <br />
      <br />
      <div class="marquee">
        <div>
          <span> If it works, don't touch it! </span>
          <span> If it works, don't touch it! </span>
        </div>
      </div>
    </div>
  </section>

  <!--chổ này là phần thông tin liện hệ shop nè-->
  <!--<section id="page-header" class="about-header">-->
  <!--    <h2>#let's_talk</h2>-->
  <!--    <p>LEAVE A MESSAGE, We love to hear from you!</p>-->
  <!--</section>-->

  <!--<section id="contact-details" class="section-p1">-->
  <!--    <div class="details">-->
  <!--        <span>GET IN TOUCH</span>-->
  <!--        <h2>Visit one of our agency locations or contact us today</h2>-->
  <!--        <h3>Head Office</h3>-->
  <!--        <div>-->
  <!--            <li>-->
  <!--                <i class="fal fa-map"></i>-->
  <!--                <p>56 Glassford Street Glasgow G1 !UL New York</p>-->
  <!--            </li>-->
  <!--            <li>-->
  <!--                <i class="far fa-envelope"></i>-->
  <!--                <p>contact@example.com</p>-->
  <!--            </li>-->
  <!--            <li>-->
  <!--                <i class="fas fa-phone-alt"></i>-->
  <!--                <p>contact@example.com</p>-->
  <!--            </li>-->
  <!--            <li>-->
  <!--                <i class="far fa-clock"></i>-->
  <!--                <p>Monday to Saturday: 9.00am to 16.00pm</p>-->
  <!--            </li>-->
  <!--        </div>-->
  <!--    </div>-->
  <!--</section>-->

  <!--này là phần gửi thông tin email-->
  <section id="form-details" class="section-p1">
    <div class="people">
      <div>
        <img th:src="@{/img/avatar/huy.png}" alt="" />
        <p>
          <span>Nguyễn Trần Quang Huy</span>
          Student
          <br />
          Phone: +84 37377377
          <br />
          Email: ntqhuy2k2@gmail.com
        </p>
      </div>
      <div>
        <img th:src="@{/img/avatar/bao.png}" alt="" />
        <p>
          <span>Lương Gia Bảo</span>
          Student
          <br />
          Phone: +84 37377377
          <br />
          Email: luonggiabao1310@gmail.com
        </p>
      </div>
      <div>
        <img th:src="@{/img/avatar/anh.png}" alt="" />
        <p>
          <span>Phạm Quốc Anh</span>
          Student
          <br />
          Phone: +84 37377377
          <br />
          Email: phquocanhtdtu@gmail.com
        </p>
      </div>
    </div>
  </section>

  <!--này là phần footer-->
  <footer class="section-p1">
    <div class="col">
      <img th:src="@{/img/main_logo.png}" alt="" class="logo" />
      <h4 th:text="#{pet.html.footer.contact.name}"></h4>
      <p>
        <strong th:text="#{pet.html.footer.contact.address}"></strong>
        <span th:text="#{pet.html.footer.contact.address.value}"></span>
      </p>
      <p>
        <strong th:text="#{pet.html.footer.contact.phone}"></strong>
        <span th:text="#{pet.html.footer.contact.phone.value}"></span>
      </p>
      <p>
        <strong th:text="#{pet.html.footer.contact.hours}"></strong>
        <span th:text="#{pet.html.footer.contact.hours.value}"></span>
      </p>
      <div class="follow">
        <h4 th:text="#{pet.html.footer.follow}"></h4>
        <div class="icon">
          <a th:href="@{https://fb.com/nguyenhuy158}">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a th:href="@{https://github.com/nguyenhuy158/}">
            <i class="fab fa-instagram"></i>
          </a>
          <a th:href="@{https://www.youtube.com/@ntqhuy2k2}">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col">
      <h4 th:text="#{pet.html.footer.about}"></h4>
      <a th:href="@{/about}" th:text="#{pet.html.footer.about}"></a>
      <a th:href="@{/error}" th:text="#{pet.html.footer.delivery}"></a>
      <a th:href="@{/error}" th:text="#{pet.html.footer.policy}"></a>
      <a th:href="@{/error}" th:text="#{pet.html.footer.term}"></a>
    </div>

    <div class="col">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.023524698755!2d106.69758091388026!3d10.732668892351265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fbd7d343a57%3A0xb5ca26918dff0578!2zMTkgxJAuIE5ndXnhu4VuIEjhu691IFRo4buNLCBUw6JuIEjGsG5nLCBRdeG6rW4gNywgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1680063686308!5m2!1sen!2s"
        width="500" height="250" style="border: 0; border-radius: 10px;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="copyright">
      <p th:text="#{pet.html.footer.copyright}"></p>
    </div>
  </footer>

  <script th:src="@{/js/script.js}"></script>
</body>

</html>