<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" th:href="@{/img/logo/logo-shop.png}">

  <title th:text="#{pet.html.title.name}"></title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <link rel="stylesheet" th:href="@{/css/userInfo.css}" />
</head>

<body>
  <div class="container">

    <div id="profile" class="profile">

      <!-- info -->
      <div th:object="${currentUser}" class="user-info">

        <div class="user-info_avatar">
          <img src="https://cdn-icons-png.flaticon.com/512/3893/3893170.png" alt="" />
        </div>

        <h2 th:text="*{name}" style="font-weight: 500; color: azure; font-size: 27px;"></h2>

        <div class="profile_nav">
          <ul>
            <li th:text="*{email}"></li>
            <li th:text="*{address}"></li>
            <li th:text="*{phone}"></li>
          </ul>
          <!-- box -->
          <div class="message-box">
            <div class="buttons-con">
              <div class="action-link-wrap">
                <a th:href="@{/home}" class="link-button" th:text="#{pet.html.goToHomePage}"></a>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- content -->
      <div class="content">
        <span class="bg-float">
        </span>
        <transition name="slide-fade" mode="out-in">
          <keep-alive>
            <component :is="view"></component>
          </keep-alive>
        </transition>
      </div>

    </div>
  </div>

  <script th:src="@{/js/userInfo.js}"></script>
</body>

</html>